<h1>
  Here's what's on your <strong><%= @list.name %></strong> list:
</h1>

<ul>
<% @movies.each do |movie|  %>
<% bookmark = Bookmark.where(movie_id: movie.id).where(list_id: @list.id).first %>
  <li>
    <%= movie.title %>
    <%= movie.overview %>
    <%= movie.rating %>
     <%= bookmark.comment %>
  </li>
  <% end %>
</ul>

<p><%= link_to "Bookmark Movie",  new_list_bookmark_path(@list), class: 'btn-book' %></p>
<%# <%= link_to "Delete a bookmark", list__path(@list), class: 'btn-delete'%>
