<h1>
  Here's what's on your <strong><%= @list.name %></strong> list:
</h1>

<ul>
  <% @bookmarks.each do |bookmark|  %>
    <% movie = bookmark.movie %>
    <li>
      <%= movie.title %>
      <%= movie.overview %>
      <%= movie.rating %>
      <%= bookmark.comment %>
      <%= link_to 'delete bookmark', bookmark_path(bookmark), data: { turbo_method: :delete } %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Bookmark Movie",  new_list_bookmark_path(@list), class: 'btn btn-warning' %></p>
<p> <%= link_to "Back to favourites list", lists_path, class: 'btn btn-success' %>
